{{#if label}}
  <label for={{controlId}} class="light-field__label {{labelClassNames}}">
    {{label}} {{#if isDisplayingErrors}}<span class="light-field__errors">({{errors}})</span>{{/if}}
  </label>
{{/if}}

{{#if hasBlock}}
  {{yield
    (hash
      controlId=controlId
      value=(get model fieldName)
      errors=errors
      enterEditMode=(action 'enterEditMode')
      leaveEditMode=(action 'leaveEditMode')
      update=(action 'update')
    )
  }}
{{else}}
  {{component control
    id=controlId
    value=(get model fieldName)
    onfocus=(action 'enterEditMode')
    onblur=(action 'leaveEditMode')
    update=(action 'update')
  }}
{{/if}}
