{{#if (has-block)}}
  {{yield
    (hash
      label=label
      controlId=controlId
      value=(get model fieldName)
      errors=errors
      warnings=warnings
      isDisplayingErrors=isDisplayingErrors
      enterEditMode=(action 'enterEditMode')
      leaveEditMode=(action 'leaveEditMode')
      update=(action 'update')
    )
  }}
{{else}}
  <label for={{controlId}}>{{label}}</label>

  {{component control
    id=controlId
    value=(get model fieldName)
    onfocus=(action 'enterEditMode')
    onblur=(action 'leaveEditMode')
    update=(action 'update')
  }}

  {{#if isDisplayingErrors}}
    <span>{{errors}}</span>
  {{/if}}
{{/if}}
